<form action="/login" method="post">
<input type="text" name="email" placeholder="Email">
<input type="text" name="password" placeholder="Password">
<button type="submit">Login</button>
<span>Don't have account?</span>
<a href="/register">Register</a>
<a href="/reset">Forget password?</a>
</form>